<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav nav nav-pills justify-content-end" ng-controller="NavCtl">
    <li class="nav-item" ng-repeat="(href,title) in nav">
      <a class="nav-link" ng-class="{ 'active': current(href) }" href="{{href}}" ng-bind="title"></a>
    </li>

    <!-- user options -->
    <li class="nav-item dropdown ml-auto">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= sess.user.name %>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" target="_self" href="/logout">Logout</a>
      </div>
    </li>
  </ul>
</div>