<nav role="navigation" class="navbar navbar-light navbar-toggleable-sm">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">SousChef</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav nav-pills justify-content-end" ng-controller="NavCtl">
        <li class="nav-item" ng-repeat="(href,title) in nav">
          <a class="nav-link" ng-class="{ 'active': current(href) }" href="{{href}}" ng-bind="title"></a>
        </li>
        <li class="nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= sess.user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div ng-view></div>