<!DOCTYPE html>
<html lang="en" class="w-100 h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Sous Chef</title>
  <base href="/">

  <% styles.forEach(style => { %>
    <link rel="stylesheet" href="<%- style %>">
  <% }) %>
</head>
<body class="w-100 h-100">
  <nav role="navigation" class="navbar navbar-light navbar-toggleable-sm">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">SousChef</a>

      <%- include('views/header/' + sess.user.type) %>
    </div>
  </nav>

  <%- include('views/' + sess.user.type) %>

  <% scripts.forEach(script => { %>
    <script src="<%- script %>"></script>
  <% }) %>
</body>
</html>